@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body,
.header,
.footer,
.left-links,
.right-links {
  display: flex;
  gap: 16px;
  padding: 0;
}

body {
  flex-direction: column;
}

.content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.left-links {
  margin-left: 8px;
}

.right-links {
  margin-left: auto;
  margin-right: 8px;
}

.footer {
  background-color: lightgray;
}

button {
  padding: 8px 16px;
}